:root {
    --primary: #012340;
    --primary-darker: #011B37;
    --secondary: #025939;
    --secondary-darker: #024D2D;
    --tertiary: #027333;
    --accent: #04d939;
    --radius: 25px;
}

* {
    font-family: "Orbitron", sans-serif;
}

{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: 400;
    background-color: var(--primary) !important;
    font-size: 1rem;
    line-height: 1.58;
    color: white;
    height: 100%;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    margin-top: 1em;
    padding: .5rem 1rem;
    border-radius: var(--radius);
    cursor: pointer;
}

button.secondary {
    background-color: var(--secondary);
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    &:hover {
        background-color: var(--accent);
        color: var(--primary);
    }
}

button.primary {
    background-color: var(--primary);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.accent {
    background-color: var(--accent);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

.welcome-page-container, .dialogue-container {
    border: 2px outset var(--secondary);
    background-color: var(--primary-darker);
    max-width: 1200px;
    display: block;
    border-radius: var(--radius);
    position: relative;
    padding: 2rem 4rem;
    & .form-group {
        position: relative;
        &:has(input[type=text]):before {
            content: '>';
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
            color: white;
            display: inline-block;
        }
        &:has(button[type=submit]) {
            display: flex;
            justify-content: end;
        }
        & input[type=text] {
            background-color: transparent;
            border: none;
            color: white;
        }
        & .input-group {
            display: flex;
            width: 100%;
            & input[type=text] {
                flex-grow: 1;
            }
        }
    }
}

#rabbitmq-logo {
    height: 24px;
}

#dialogue-page {
    position: relative;
    height: 600px;
    width: 1200px;
}

.dialogue-container {
    margin: 10px 0;
    max-width: 1200px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    height: 90%;
    position: relative;
}

#dialogue-page ul {
    list-style-type: none;
    background-color: var(--primary-darker);
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
    overflow-x: hidden;
    scrollbar-color: var(--accent) var(--primary);
    scrollbar-base-color: var(--accent);
    scrollbar-shadow-color: var(--secondary);
    scrollbar-darkshadow-color: var(--secondary-darker);
    scrollbar-highlight-color: white;
    scrollbar-track-color: #128ff2;

}

#dialogue-page #dialogueForm {
    padding: 20px;
}

#dialogue-page ul li {
    line-height: 1.5rem;
    border-bottom: 1px solid var(--primary);
    padding: 1em 0;
}

@keyframes appear-upwards {
    0% { transform: translateY(100px); opacity: 0 }
    100% { transform: translateY(0); opacity: 1 }
}

@keyframes appear-to-left {
    0% { transform: translateX(3000px); opacity: 0 }
    100% { transform: translateX(0); opacity: 1 }
}

@keyframes appear-to-right {
    0% { transform: translateX(-500px); opacity: 0 }
    100% { transform: translateX(0); opacity: 1 }
}


#dialogue-page .event-data {
    width: 100%;
    text-align: center;
    clear: both;
    animation: 500ms appear-to-left;
}

#dialogue-page .event-data p {
    color: var(--secondary);
    font-size: 14px;
    word-wrap: break-word;
}

#dialogue-page .message-data {
    padding-left: 68px;
    position: relative;
    animation: 200ms appear-to-right;
}

#dialogue-page .message-data i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    background-color: var(--accent);
    color: var(--primary);
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#dialogue-page .message-data span {
    color: var(--accent);
    font-size: 1em;
    font-weight: 600;
}

#dialogue-page .message-data p {
    color: white;
    margin-block: 0;
    font-size: .8em;
    font-weight: 300;
}


@media screen and (max-width: 730px) {
    .dialogue-container {

    }
}